body {
    background-color: black;
}

.center {
    display: flex;
    flex: 1;
    height: 95vh;
    justify-content: center;
    align-items: center;
}

span {
    display: inline-block;
    animation: rotation 1.5s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.awesome {
    font-family: monospace;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: #313131;
    font-size: 45px;
    font-weight: bold;
    position: absolute;
    -webkit-animation: colorchange 20s infinite alternate;
}

@-webkit-keyframes colorchange {
    0% {
        color: blue;
    }
    5% {
        color: #8e44ad;
    }
    10% {
        color: #1abc9c;
    }
    15% {
        color: #d35400;
    }
    20% {
        color: blue;
    }
    25% {
        color: #34495e;
    }
    30% {
        color: blue;
    }
    35% {
        color: #2980b9;
    }
    40% {
        color: #f1c40f;
    }
    45% {
        color: #2980b9;
    }
    50% {
        color: pink;
    }
    55% {
        color: skyblue;
    }
    60% {
        color: lightcoral;
    }
    65% {
        color: lime;
    }
    70% {
        color: maroon;
    }
    75% {
        color: magenta;
    }
    80% {
        color: cyan;
    }
    85% {
        color: turquoise;
    }
    90% {
        color: brown;
    }
    95% {
        color: silver;
    }
    100% {
        color: peachpuff;
    }
}